<div class="Resume" id="pi"></div>
<div class="container">
    <div class="row">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="title text-center">
          <h1>Tristan Andrei C. Alipio</h1>
          <h3>Poging IT Student</h3>
          <hr />
          <ul class="list-inline">
            <li><i class="devicon-laravel-plain colored"></i></li>
            <li><i class="devicon-javascript-plain colored"></i></li>
            <li><i class="devicon-html5-plain colored"></i></li>
            <li><i class="devicon-angularjs-plain colored"></i></li>
            <li><i class="devicon-linux-plain"></i></li>
          </ul>
        </div>

        <!-- summary section -->
        <div class="summary">
          <h2 class="text-center">Personal Info</h2>
          <p>Here are my personal information: </p>

          <div class="row">
            <div class="col-md-3 col-sm-3">
              <p>First Name: Tristan Andrei</p>
              <p>Middle Name: Cordero</p>
              <p>Last Name: Alipio</p>
            </div>
            <div class="col-md-3 col-sm-3">
              <p>Sex: Male</p>
              <p>Age: 21</p>
              <p>Status: Singlelicious</p>
            </div>
            <div class="col-md-3 col-sm-3">
              <p>Hobbies: Basketball & Mobile Games</p>
              <p>Traits: Humble, Kind, Down to Earth, God-Fearing</p>
              <p>Favorites: Menudo, Nike Shoes, New Era Caps</p>
            </div>
            <div class="col-md-3 col-sm-3">
              <p>Nationality: Filipino</p>
              <p>Primary Language: Tagalog</p>
              <p>Province: Ilocos Norte</p>
            </div>
          <div class="title text-center">
              <h1>Tristan Andrei C. Alipio</h1>
              <h3>Man with the million moves</h3>
              <hr />
              <ul class="list-inline">
                  <li><i class="devicon-laravel-plain colored"></i></li>
                  <li><i class="devicon-javascript-plain colored"></i></li>
                  <li><i class="devicon-html5-plain colored"></i></li>
                  <li><i class="devicon-angularjs-plain colored"></i></li>
                  <li><i class="devicon-linux-plain"></i></li>
              </ul>
          </div>

          <!-- summary section -->
          <div class="summary">
              <h2 class="text-center">Personal Info</h2>
              <p>Here are my personal information: </p>

              <div class="row">
                  <div class="col-md-3 col-sm-3">
                    <p>First Name: Tristan Andrei</p>
                    <p>Middle Name: Cordero</p>
                    <p>Last Name: Alipio</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <p>Sex: Male</p>
                    <p>Age: 21</p>
                    <p>Status: Singlelicious</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <p>Hobbies: Basketball & Mobile Games</p>
              <p>Traits: Humble, Kind, Down to Earth, God-Fearing</p>
              <p>Favorites: Menudo, Nike Shoes, New Era Caps</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <p>Nationality: Filipino</p>
                    <p>Primary Language: Tagalog</p>
                    <p>Province: Ilocos Norte</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
